<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<!-- Core Entities -->
       <mapping class="edge.core.modules.auth.SignUpEntity" />
       <mapping class="edge.core.modules.auth.AuthorityEntity" />
       <mapping class="edge.app.modules.profile.ProfileDetails" />
       <mapping class="edge.app.modules.profile.SecureProfileDetails" />
       <mapping class="edge.app.modules.clients.Client" />
       <mapping class="edge.app.modules.memberships.Membership" />
       <mapping class="edge.app.modules.payments.Payment" />
       <mapping class="edge.core.modules.parents.Parent" />
       <mapping class="edge.app.modules.expenses.Expense" />
       <mapping class="edge.app.modules.attendance.Attendance" />
       <mapping class="edge.app.modules.employees.Employee" />
       <mapping class="edge.app.modules.packages.PackageEntity" />
       
    </session-factory> 
</hibernate-configuration>
