<!DOCTYPE html>
<html>
<head>

</head>
<body class="bodyClass">
	<div class="edgeApp popupDiv">
		<div class="closeButtonDiv">
			<button class="btn btn-close" type="button" ng-click="es.closePopup('SLIDESHOW_POPUP')">
				<i class="fa fa-times-circle-o fa-2x"></i> 
			</button>
		</div>
		<h3>
			{{es.slideshow.title}}
		</h3>		
		<div class="slideshowDiv">
			<carousel interval="es.slideshow.interval"> 
				<slide ng-repeat="slide in es.slideshow.slides"> 
					<img class="slideshowImage" src="{{slide.image}}">
					<div class="carousel-caption" >
						<h4 style="color: white;">{{slide.caption}}</h4>
					</div>
				</slide> 
			</carousel>
		</div>
	</div>
</body>
</html>

