		
<div>
  	<profile-connection profile="profile" es="es" />	
</div>
			
<div class="leftSection">
	<div class="centerAligned">
		<div><B>{{profile.profileId}}</B></div>
		<br>
		<div ng-if="profile.profilePic != 'NA'">
			<i><img src="{{profile.profileThumbnail}}" class="profileThumbnail" alt='"Once Above form is Submitted, Your Profile Id and Profile Pic would appear Here...!"'/></i>
		</div>
		<div ng-if="profile.profilePic == 'NA'">
			<img src="edge/appCore/modules/layout/images/Male.jpg" class="profileThumbnail" />
		</div>
	</div>
</div>
<div class="rightSection">
	<B>{{profile.religion}}-{{profile.cast}}, {{profile.motherTongue}} - {{profile.gender}} </B> 
	- {{profile.bloodGroup}}, {{profile.bodyType}}, {{profile.skinColor}}, {{profile.heightFt}} Ft {{profile.heightInch}} Inch, {{profile.weight}} kg
	
	<br>
	<B>
	{{profile.degreeType}}, Residing at {{profile.residingAtCity}} earning {{profile.earning | currency:'&#8377; '}} per annum
   	</B>
   	
   	<br>
   	Born on 
   	<span class="lableInput">{{profile.birthDate | date}}, at {{profile.birthHr}}:{{profile.birthMin}} {{profile.birthAP}} at {{profile.birthCity}}, {{profile.birthState}}</span>
 	
 	<br>
  	Currently Residing at 
  	<span class="lableInput">{{profile.residingAtCity}}, {{profile.residingAtState}} with {{profile.residingWith}}</span>
  		
   	<br>
	Kundali - 
	<span class="lableInput"> {{profile.kundaliRas}}, {{profile.kundaliNakshatra}}, {{profile.kundaliNadi}}, {{profile.kundaliCharan}}, 
	{{profile.kundaliGan}}, {{profile.kundaliGotr}}, {{profile.kundaliDevak}}
	</span>
	
	<br>
	Academic - <span class="lableInput">{{profile.degreeDetails}} ({{profile.degreeType}})</span>
	
	<br>
	Working with <span class="lableInput">{{profile.company}} as {{profile.designation}} Earning {{profile.earning | currency:'&#8377; '}} per annum</span>
  		
	<br>
	Family residing at <span class="lableInput">{{profile.familyResidingAtCity}}, {{profile.familyResidingAtState}}</span> 
	Native at <span class="lableInput">{{profile.nativeCity}}, {{profile.nativeState}}</span>
	
	<br>
	Siblings: <span class="lableInput">Has {{profile.brothers}} Brothers ( {{profile.marriedBrothers}} Married )
	and {{profile.sisters}} Sisters ( {{profile.marriedSisters}} Married )</span>
	
	<br>
	Family Wealth <span class="lableInput">{{profile.wealth}}</span>
	
	<br>
	
</div>

<div><br></div>

<div class="leftSection">
	<div style="text-align: right; width: 100%" > 
		<input class="btn btn-link" type="button" value=" View Album..." ng-click="es.showAlbum(profile)"/>
	</div>
</div>
<div class="rightSection">
	<div style="text-align: right; width: 100%">
		<input class="btn btn-link" type="button" value="Show Enlarged..." ng-click="es.showEnlarged(profile)"/>
	</div>
</div>

 