
<div>
	Contact Details : <B>{{profile.profileId}}</B>	
</div>

<div class="leftSection">
	
</div>

<div class="rightSection">

   	<br>
   	Email Id :
   	<span class="lableInput">{{profile.secure.emailId}}</span>
	
	<br>
	Cell (Self): 
	<span class="lableInput">{{profile.secure.cell}}</span>
	
   	<br>
	Cell (Parent):
	<span class="lableInput">{{profile.secure.cellParents}}</span>
	
   	<br>
	Facebook:
	<span class="lableInput">{{profile.secure.facebook}}</span>
	
   	<br>
	Twitter:
	<span class="lableInput">{{profile.secure.twitter}}</span>
	
   	<br>
	LinkedIn:
	<span class="lableInput">{{profile.secure.linkedIn}}</span>
	
</div>

<div><br></div>
