<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Saat-Phere : Search Profiles</title>
</head>
<body>
	<div ng-init="es.initializeSearch()">
		<div>
			<div ng-hide="es.search.type">
				<h3>Search By Id : </h3>
				<input type="text" ng-model="es.searchId" placeholder="Profile Id" class="formInput"/> 
				<button class="btn btn-info" type="button" ng-click="es.searchById()">Search</button>
			</div>
		</div>
		<div>
			<div ng-show="es.loggedInUserId">
					
					<h3>Filter Criteria : </h3>
					 
					<div style="display: inline-block; color: orange">
						&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="IRequested" title="Profiles whom I have sent Connection Request"> Requests Sent </input>
						<br>
						&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="TheyRequested" title="Profiles who have sent Connection Request to me"> Requests Received </input>
					</div>
					<div style="display: inline-block; color: green">
						&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="IAccepted" title="Profiles whose Connection Request is Accepted by me"> Accepted By Me </input>
						<br>
						&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="TheyAccepted" title="Profiles who Accepted Connection Request from Me"> Accepted By Them </input>
					</div>
					<div style="display: inline-block; color: red">
						&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="IRejected" title="Profiles whose Connection Request is Rejected by me"> Rejected By Me </input>
						<br>
						&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="TheyRejected" title="Profiles who Rejected Connection Request from Me"> Rejected By Them </input>
					</div>
					<div style="display: inline-block;">
						<input type="radio" ng-click="es.loadRemovedProfiles();" ng-model="es.search.type" value="IRemoved" title="Profiles I removed from wall"> Removed from Wall </input>
						<br>
						<br>
					</div>
			</div>
		</div>
		
		<div><hr class="thinHr"></div>
		
		<div>
			<div ng-repeat="profile in es.searchedProfiles">
				<div class="profileDisplay">

					<div>
						<profile-non-secure profile="profile" es="es" />		
					</div>
					
					<div class="leftSection">
					 	<input class="btn btn-info" title="Show Album" type="button" value="Show Album" ng-click="es.showAlbum()"/>
					</div>
					
					<div class="rightSection">
						<div ng-show="es.search.type == 'IRemoved'">
							<input class="btn btn-danger" title="Undo-Remove from My Wall, I accidently removed this profile!" type="button" value="Undo - Remove From My Wall" ng-click="es.undoRemoveFromWall(profile.profileId)"/>
						</div>
						<div ng-show="es.search.type == 'TheyRequested'">
							<input class="btn btn-success" title="Click here to Accept the request, Once Accepted, You both can see each others Contact Details!" type="button" value="Accept Request" ng-click="es.actionRequest(profile.profileId, 'Accepted')"/>
							<input class="btn btn-danger" title="I do not like this profile, please Reject the request, Once rejected, this profile can NOT send you connection request!" type="button" value="Reject Request" ng-click="es.actionRequest(profile.profileId, 'Rejected')"/>
						</div>
						<div ng-show="es.search.type == 'IAccepted'">
							<input class="btn btn-success" title="Show the Contact Details!" type="button" value="Show Contact Details" ng-click="es.showContactDetails()"/>
						</div>
						<div ng-show="es.search.type == 'TheyAccepted'">
							<input class="btn btn-success" title="Show the Contact Details!" type="button" value="Show Contact Details" ng-click="es.showContactDetails()"/>
						</div>
					</div>
					
				</div>
				<div><br></div>
			</div>
			
		</div>
		
	</div>
</body>
</html>