<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Saat-Phere : Search Profiles</title>
</head>
<body>
	<div>
		<div>
				<h3>Show Me Profiles :</h3>
				&nbsp;&nbsp;<input type="radio" ng-click="es.loadRemovedProfiles();" ng-model="es.search.type" value="IRemoved" title="Profiles I removed from wall"> I Removed from Wall </input>
				<br>
				<div style="display: inline-block; color: orange">
					&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="IRequested" title="Profiles whom I have sent Connection Request"> I Requested Connection </input>
					<br>
					&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="TheyRequested" title="Profiles who have sent Connection Request to me"> They Requested Connection </input>
				</div>
				<div style="display: inline-block; color: green">
					&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="IAccepted" title="Profiles whose Connection Request is Accepted by me"> I Accepted Connection </input>
					<br>
					&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="TheyAccepted" title="Profiles who Accepted Connection Request from Me"> They Accepted Connection </input>
				</div>
				<div style="display: inline-block; color: red">
					&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="IRejected" title="Profiles whose Connection Request is Rejected by me"> I Rejected Connection </input>
					<br>
					&nbsp;&nbsp;<input type="radio" ng-click="es.searchProfiles();" ng-model="es.search.type" value="TheyRejected" title="Profiles who Rejected Connection Request from Me"> They Rejected Connection </input>
				</div>

		</div>
		
		<div><br></div>
				
		<div>
			<div ng-repeat="profile in es.searchedProfiles">
				<div class="profileDisplay">
					<div>
						<profile-non-secure profile="profile" es="es" />		
					</div>
					
					<div class="leftSection">
					 	<input class="btn btn-info" title="Show Album" type="button" value="Show Album" ng-click="es.showAlbum()"/>
					</div>
					
					<div class="rightSection">
						<div ng-show="es.search.type == 'IRemoved'">
							<input class="btn btn-danger" title="Undo-Remove from My Wall, I accidently removed this profile!" type="button" value="Undo - Remove From My Wall" ng-click="es.undoRemoveFromWall(profile.profileId)"/>
						</div>
						 <!-- <input class="btn btn-default" title="Show the Contact Details!" type="button" value="Show Contact Details" ng-click="es.showContactDetails()"/> -->
					</div>
				</div>
				<div><br></div>
			</div>
			
		</div>
		
	</div>
</body>
</html>