<div>
	<h3>
		<U>Client Details:</U>
	</h3>
	
	<div class="leftSection">Existing Client:</div>
	<div class="rightSection">
		<select class="formInput" ng-model="es.client" title="~Client~" ng-options="value as value.display for value in es.allClients" 
				ng-change="es.clientSelected()">
		</select>
		
		<input class="btn btn-info" type="button" value="Generate Invoice" ng-click="es.generateInvoice()"/>
		
	</div>
	
	<div class="leftSection">Name:</div>
	<div class="rightSection">
		<input required="required" ng-minlength="3" maxlength="100" ng-maxlength="100" class="formInput" type="text" ng-model="es.client.name" title="~Full Name~" size="70" />
	</div>

	<div class="leftSection">Gender:</div>
	<div class="rightSection">
		<select required class="formInput" ng-model="es.client.gender" title="~Gender~" ng-options="values for values in es.genderList">
		</select>
		<!-- ng-options = "item.server as item.client group by item.group for item in es.genderList" : Worked -->
	</div>

	<div class="leftSection">Phone Number:</div>
	<div class="rightSection">
		<input required="required" ng-minlength="10" maxlength="10" ng-maxlength="10" class="formInput" type="tel" ng-model="es.client.phone" title="~Phone Number~" size="15" />
	</div>

	<div class="leftSection">Email Id:</div>
	<div class="rightSection">
		<input required="required" ng-minlength="3" maxlength="100" ng-maxlength="100" class="formInput" type="email" ng-model="es.client.emailId" title="~Email Address~" size="70" />
	</div>

	<div class="leftSection">Address:</div>
	<div class="rightSection">
		<input required="required" ng-minlength="3" maxlength="200" ng-maxlength="200" class="formInput" type="text" ng-model="es.client.address" title="~Address~" size="70" />
	</div>
	
	<div class="leftSection">Profile Pic:</div>
	<div class="rightSection">
		<div><img src="server/secured/files/Client/profilePic/{{es.client.clientId}}" width="170px" height="200px" class="profilePic"/></div> 
	</div>
	
	<div class="leftSection">Activity:</div>
	<div class="rightSection">
		<!-- <textarea readonly="readonly" class="formInput" type="text" placeholder="Not Applicable"
		ng-model="es.client.activity" title="~Activity~" cols="70" rows="6"  ></textarea> -->
		<span ng-bind-html="es.client.activity" ></span>
	</div>

</div>