<html>
<body style="font-size: large;">
<pre>
<div>
Hi ${foundRequest.fullName},
	
Your Found request has been successfully saved with id ${foundRequest.foundRequestId}.

We would try to find and reach owner as soon as possible. Owner would reach you soon.

We thank you to be so self-less and take efforts to report this.

We hope you would like our service. In case of any concerns please feel free to <a href="mailto:patil.vinayb9@gmail.com">drop us a mail</a>!

<hr>
<H3><B><i>
Found Request Details:
</i></B></H3>

	Name: ${foundRequest.fullName}
	
	Description : 
		${lostRequest.matchingKey}
		${lostRequest.description}
	
	Phone Number: ${foundRequest.addressPhone}
	
	Email Address: ${foundRequest.addressEmail}
			
We hope you would like our service. In case of any concerns please feel free to <a href="mailto:patil.vinayb9@gmail.com">drop us a mail</a>!

<hr>

If you would like to secure your belongings pro-actively, you may also try our 'Lost And Found ID' creation service. 

You just need to create a 'Lost and Found Id' and attach a visible note to any of your belongings which would say:

<b><i>In case you find me, please report it on http://lostandfound.report?found=YOUR_ID</i></b>

It is also a free service.

<hr>
		
Thanks and Regards,
Lost And Found,
Free service towards Public Welfare
<a href="http://lostandfound.report">Visit Site</a>
<a href="mailto:patil.vinayb9@gmail.com">Drop us a mail</a>	  

</div>
</pre> 
</body>
</html>