<html>
<body style="font-size: large;">
<pre>
<div>
Hi,

We apologies but there is no 'Found' request submitted yet! :( We would drop you a mail as soon as we find one.

Be relaxed!
 			
<hr>
<H3><B><i>
Lost Request Details:
</i></B></H3>

	Name: ${lostRequest.fullName}
	
	Description : 
		${lostRequest.matchingKey}
		${lostRequest.description}
	
	Phone Number: ${lostRequest.addressPhone}
	
	Alternate Phone Number: ${lostRequest.addressAltPhone}
	
	Email Address: ${lostRequest.addressEmail}
	
	Address:
	
		Line 1 		: ${lostRequest.addressLine1}
		Line 2 		: ${lostRequest.addressLine2}
		City   		: ${lostRequest.addressCity}
		Zip/Pin 	: ${lostRequest.addressZip}
		State  		: ${lostRequest.addressState}
		Country  	: ${lostRequest.addressCountry}
	
 			
<hr>
	
If you would like to secure your other belongings pro-actively, you may also try our 'Lost And Found ID' creation service. 

You just need to create a 'Lost and Found Id' and attach a visible note to any of your belongings which would say:

<b><i>In case you find me, please report it on http://lostandfound.report?found=YOUR_ID</i></b>

It is also a free service.

<hr>

Good Luck In Your Search!
	
Thanks and Regards,
Lost And Found,
Free service towards Public Welfare
<a href="http://lostandfound.report">Visit Site</a>
<a href="mailto:patil.vinayb9@gmail.com">Drop us a mail</a>	  

</div>
</pre> 
</body>
</html>
