<html>
<body style="font-size: medium; line-height: 15px;">
<pre>
<div>
Hi,

We have found a probable match.

You two may contact each other and check if this is a perfect match.

If it is perfect macth, and in case you two decide to opt for the courier, then let courier service know that this is from 'LostAndFound' service and the <B>receiver (One who submitted Lost Report)</B> would pay for this delivery.

<hr>

Here are the details to facilitate easier communication:
<H3><B><i>Owner Details:</i></B></H3>
	
	Name: ${owner.fullName}
	
	Description : 
		${owner.matchingKey}
		${owner.description}
	
	Phone Number: ${owner.addressPhone}
	
	Alternate Phone Number: ${owner.addressAltPhone}
	
	Email Address: ${owner.addressEmail}
	
	Address:
	
		Line 1 		: ${owner.addressLine1}
		Line 2 		: ${owner.addressLine2}
		City   		: ${owner.addressCity}
		Zip/Pin 	: ${owner.addressZip}
		State  		: ${owner.addressState}
		Country  	: ${owner.addressCountry}
		
<H3><B><i>Found Report Details:</i></B></H3>

	Name: ${foundReport.fullName}
	
	Description : 
		${owner.matchingKey}
		${owner.description}
	
	Phone Number: ${foundReport.addressPhone}
	
	Email Address: ${foundReport.addressEmail}
			
We hope you would like our service. In case of any concerns please feel free to <a href="mailto:lostandfound.report@gmail.com">drop us an email</a>!

<hr>

In case we find your item and you are satisfied with our service, please think to 'Donate Us'. 

<B>We depend on your donations to provide best in class services to you.</B>

<i>Donations as low as 10 Rs. would also help us greatly, and we would be thankful to you for the same.</i> 

Whatever extra we earn, we pledge to use that for charity purpose. 

Feel free to <a href="mailto:lostandfound.report@gmail.com">drop us an email</a>, if you would like us to donate to any specific charity organization. 

<hr>

If you would like to secure your other belongings pro-actively, you may also try our 'Lost And Found ID' creation service. 

You just need to create a 'Lost and Found Id' and attach a visible note to any of your belongings which would say:

<b><i>In case you find me, please report it on http://lostandfound.report/#/?found=YOUR_ID</i></b>

It is also a free service.

<hr>

Good Luck!
		
Thanks and Regards,
Lost And Found,
Free service towards Public Welfare
<a href="http://lostandfound.report">Visit Site</a>
<a href="mailto:lostandfound.report@gmail.com">Drop us an email</a>	  

</div>
</pre> 
</body>
</html>
