<html>
<body style="font-size: medium; line-height: 15px;">
<pre>
<div>
Hi ${tagCreation.fullName},
	
Congratulations! Your lost and found id has been created successfully with Id: ${tagCreation.tagCreationId}.

To secure your any belonging, all you need to do is to add a visible note to all of your belongings which would say: 
		
	<B><I>If you find me, please report it on <font color="green">"http://lostandfound.report/found=${tagCreation.tagCreationId}"</I></font></B> 

Be Relaxed! If someone reports lost item with above note, we would inform you immediately.

We hope you would like our service. In case of any concerns please feel free to <a href="mailto:lostandfound.report@gmail.com">drop us an email</a>!

<hr>
<H3><B><i>Tag Creation Details:</i></B></H3>

 Name: ${tagCreation.fullName}

 Phone Number: ${tagCreation.addressPhone}

 Email Address: ${tagCreation.addressEmail}

 Address:

   Line 1 		: ${tagCreation.addressLine1}
   Line 2 		: ${tagCreation.addressLine2}
   City   		: ${tagCreation.addressCity}
   Zip/Pin		: ${tagCreation.addressZip}
   State  		: ${tagCreation.addressState}
   Country		: ${tagCreation.addressCountry}
	
 Payment Details:

   Transaction Type		: ${tagCreation.transactionType}
   Transaction Id		: ${tagCreation.transactionId}	
			
<hr>

In case you are satisfied with our service, please think to 'Donate Us'. 

<B>We depend on your donations to provide best in class services to you.</B>

<i>Donations as low as 10 Rs. would also help us greatly, and we would be thankful to you for the same.</i> 

Whatever extra we earn, we pledge to use that for charity purpose. 

Feel free to <a href="mailto:lostandfound.report@gmail.com">drop us an email</a>, if you would like us to donate to any specific charity organization. 

<hr>

Good Luck!
	
Thanks and Regards,
Lost And Found,
Free service towards Public Welfare
<a href="http://lostandfound.report">Visit Site</a>
<a href="mailto:lostandfound.report@gmail.com">Drop us an email</a>	  

</div>
</pre> 
</body>
</html>
