<html>
<body style="font-size: medium; line-height: 15px;">
<pre>
<div>
Hi ${tagCreation.fullName},
	
Below is the One Time Password to be used for Tag Update: 

	${tagCreation.otp}

Please enter the same in OTP box and click on 'Verify OTP'.

This will populate the existing data for given tag. You may want to change any of the value and click on submit to update the values.

Good Luck!
	
Thanks and Regards,
Lost And Found,
Free service towards Public Welfare
<a href="http://lostandfound.report">Visit Site</a>
<a href="mailto:lostandfound.report@gmail.com">Drop us an email</a>	  

</div>
</pre> 
</body>
</html>
