<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lost And Found : TAG Creation</title>
</head>
<body>
	<div class="tagCreationDiv padding5px">
		
		<form action="/unsecured/tag" method="post" name="myForm">
  	
		   	<div>
				<h3>Lost and Found ID Creation / Update:
				</h3>
			</div>
			
			<div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="purple"><i>"Secure all your belongings with us and make sure that you don't lose anything hence on!"</i></font>
				<br><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To Secure, all you need to do is to fill up below form to create your 'Lost and Found Id' <i>(takes less than a minute)</i> and add a visible note to all of your belongings which would say: 
				<br><br>			
				<div style="text-align: center; border: 1px dotted purple; border-radius: 5px; "><I>If you find me, please report it on <font color="green">"http://lostandfound.report/#/?found=YOUR_ID"</I></font></div>
				<br><br>
			</div>

			<div>
				<i><B>Please submit below form.. </B></i><br><br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="edgeLink">
					<input type="checkbox" ng-model="es.tagUpdateChk"> <i> Check this to update existing Tag </i></input>
				</span><br><br>
				
			</div>
			
			<div ng-show="es.tagUpdateChk" style="border: 1px dotted purple; border-radius:5px; padding: 5px">
				<input class="formInput" placeholder="Enter Email Id" size="40" ng-minlength="3" maxlength="100" ng-maxlength="100" type="email" ng-model="es.tagUpdate.emailId" title="~ Email Id ~" />
				<input class="btn btn-info" name="Send OTP" type="button" value="Send OTP" ng-click="es.sendOTPForTagUpdate()"/>
				<input class="formInput" placeholder="Enter OTP" size="15" ng-minlength="3" maxlength="15" ng-maxlength="15" type="text" ng-model="es.tagUpdate.otp" title="~ One Time Password ~" />
				<input class="btn btn-info" name="Verify OTP" type="button" value="Verify OTP" ng-click="es.verifyOTPForTagUpdate()"/>
				<br><br>
			</div>
			
			<div>	
				
				<div class="leftSection">Name</div>
				<div class="rightSection">
					<input class="formInput" required="required" size="70" ng-minlength="3" maxlength="100" ng-maxlength="100" type="text" ng-model="es.tagCreation.fullName" title="~ Full Name ~" >
				</div>
				
				<div class="leftSection">Email Id</div>
				<div class="rightSection">
					<input class="formInput" required="required" size="70" ng-minlength="3" maxlength="100" ng-maxlength="100" type="email" ng-model="es.tagCreation.addressEmail" title="~ Email Id ~" >
				</div>
				
				<div class="leftSection">Phone</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="10" maxlength="10" ng-maxlength="10" type="text" ng-model="es.tagCreation.addressPhone" title="~ Phone Number ~" >
				</div>
				
				<div class="leftSection">Alternate Phone</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" ng-minlength="0" size="70" maxlength="10" ng-maxlength="10" type="text" ng-model="es.tagCreation.addressAltPhone" title="~ Alternate Phone Number ~" >
				</div>
				
				<div class="leftSection">Address</div>
				<div class="rightSection">
				</div>
				
				<div class="leftSection subTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Line 1</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="3" maxlength="100" ng-maxlength="100" type="text" ng-model="es.tagCreation.addressLine1" title="~ Address Line1 ~" >
				</div>
				
				<div class="leftSection subTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Line 2</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="3" maxlength="100" ng-maxlength="100" type="text" ng-model="es.tagCreation.addressLine2" title="~ Address Line2 ~" >
				</div>
				
				<div class="leftSection subTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="3" maxlength="30" ng-maxlength="30" type="text" ng-model="es.tagCreation.addressCity" title="~ Address City ~" >
				</div>
				
				<div class="leftSection subTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip / Pin Code</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="3" maxlength="10" ng-maxlength="10" type="text" ng-model="es.tagCreation.addressZip" title="~ Address Zip ~" >
				</div>
				
				<div class="leftSection subTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="3" maxlength="30" ng-maxlength="30" type="text" ng-model="es.tagCreation.addressState" title="~ Address State ~" >
				</div>
				
				<div class="leftSection subTitle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Country</div>
				<div class="rightSection">
					<input class="formInput" placeholder="~ Optional ~" size="70" ng-minlength="3" maxlength="30" ng-maxlength="30" type="text" ng-model="es.tagCreation.addressCountry" title="~ Address Country ~" >
				</div>
					
			</div>
				
			<div><br></div>
			
			<div style="border: 1px dotted; border-radius:5px; padding: 10px">
				<div class="leftSection"><B>Help us Survive?</B></div>
				<div class="rightSection">
					<input required="required" type="radio" ng-model="es.tagCreation.transactionType" title="~Type~" value="PAID" 
					  ng-click="
					  		es.tagCreation.transactionId='';
					  "
					>
					I can pay <B>one time fee of Rs. 30/-</B> for this service, to help this site survive!<br><br>
					
					<input required="required" type="radio" ng-model="es.tagCreation.transactionType" title="~Type~" value="FREE" 
					 ng-click="
					  		es.tagCreation.transactionId='NOT APPLICABLE';
					  "
					>
					I will think on this later, for now let me create Id for free!<br><br>
					
					**<i> This is the only service where we ask for payment to help us survive.</i><br><br>
				</div>
				
				<div ng-show="es.tagCreation.transactionType == 'PAID'">					
					&nbsp;&nbsp;&nbsp;<B>We Thank You to choose this option. We assure you that these earnings will be used for keeping this site live and for charity purpose only.</B>					
					<br><br>
					&nbsp;&nbsp;&nbspPlease make the payment to below account:
					<br><br>
					<div>
						<div class="leftSection">Via UPI</div>
						<div class="rightSection">
							lostandfound@axisbank
						</div>
					</div>
					<br>
					<div>
						<div class="leftSection">Via NEFT / IMPS</div>
						<div class="rightSection">
							Account Number: 	911 0100 211 57439 <br>
							IFS Code:			UTIB0000004   <span class="subTitle">&nbsp;&nbsp;&nbsp;(<i>Six Times 0</i>)</span>
						</div>
					</div>
					<br>
					&nbsp;&nbsp;&nbsp;And mention the TransactionId Here: <br>
					<br>
				</div>
				
				<div class="leftSection">Transaction Id</div>
				<div class="rightSection">
					<input class="formInput" required="required" placeholder="Please mention Transaction Id for payment" size="60" ng-minlength="3" maxlength="20" ng-maxlength="20" type="text" 
					ng-model="es.tagCreation.transactionId" title="~ Address Country ~" >
				</div>
			</div>
			
			<div><br></div>
		
				    
		    <div>
		        <span ng-show="!myForm.$valid">
		        	<H5><font color="red"> *** Some input values are missing or invalid. (Marked with red text or '*' sign).</font></H5>
		        	<input class="btn btn-info:disabled"  name="submit" type="button" value="Submit" disbaled="true" 
					  title="Some input values are missing or invalid. (Marked with red text or '*' sign)"
					  style="cursor: not-allowed;"
					/>
		        </span>
		        <input class="btn btn-info" name="submit" type="button" value="Sumbit" ng-show="myForm.$valid" ng-click="es.saveTagCreation()"/>
		    </div>			    
		    <div><br><br></div>
		    <div><br><br></div>	
		    	    
		</form>
	</div>
</body>
</html>