<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Saat-Phere : {{es.editProfile.profileId}}</title>
</head>
<body>
	<div class="registrationDiv padding5px">

		<form method="post" id="updateForm" name="updateForm" ng-submit="es.updateMyProfile(updateForm)">
			
			<h3>Update Profile:</h3>
		   	<div>
		   		<personal-edit profile="es.editProfile" es="es" />	
			</div>								
		    <div><br></div>
		    
		    <div>
		    	<family-edit profile="es.editProfile" es="es" />	
			</div>
		    <div><br></div>
		    
		    <div>
				<secure-edit profile="es.editProfile" es="es" />	
			</div>

			<div><br></div>
			
			 <div>
		        <!-- <span ng-show="!updateForm.$valid">
		        	<H5> *** Some input values are missing or invalid. (Marked with red text or '**' sign).</H5>
		        	<input class="btn btn-info:disabled" name="submit" type="button" value="Update Profile" disbaled="true" 
					  title="Some input values are missing or invalid. (Marked with red text or '*' sign)"
					  style="cursor: not-allowed;"
					/>
		        </span> 
		        <input class="btn btn-info" name="submit" type="button" value="" ng-show="updateForm.$valid" ng-click=""/>-->
		        
		        <button type="submit" class="btn btn-info" >Update Profile</button>
		        
		    </div>

		    <div><br><br></div>
		    	    
		</form>
	</div>
	
	<div><hr class="thinHr"></div>
	<h3><U>Upload Section:</U></h3>
	<div><br></div>
	<div class="boxDisplay">
		<div class="leftSection">Browse Image: </div>
    	<div class="rightSection">    
			<input type="file" file="es.uploadFile" title="~File~" size="70" accept="image/*" />
		</div>
		<div><br></div>
		<div class="leftSection">Upload As: </div>
    	<div class="rightSection">    
			<div> 
				<button ng-click="es.uploadImage('profilePic')" class="btn btn-info">Profile Pic</button>
				<button ng-click="es.uploadImage('albumImg1')" class="btn btn-info">Image 1</button>
				<button ng-click="es.uploadImage('albumImg2')" class="btn btn-info">Image 2</button>
				<button ng-click="es.uploadImage('albumImg3')" class="btn btn-info">Image 3</button>
			</div>
		</div>
	</div>		
	<div><hr class="thinHr"></div>
	<h3><U>Profile Preview:</U></h3>
		    
    <div class="boxDisplay">
		<div>
			<profile-non-secure profile="es.editProfile" es="es" />
		</div>
	</div>
	<h5 class="rightAligned"><font color="grey"> <i> Click Profile Pic To View The Album </i> </font></h5>					
    <div><br></div>
    
    <div>
		<div class="boxDisplay">
			<profile-secure profile="es.editProfile" es="es" />
		</div>							
    </div>
    <h5 class="rightAligned"><font color="red"><i> *** Only accepted connections can see each other's contact details </i></font></h5>
    <div><br></div>
			
</body>
</html>