<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CashTransactions</title>
</head>
<body>
	<div class="addCashTransactionDiv padding5px" ng-init="es.initCashTransactions()">
		<form action="/contextRoot/secured/saveCashTransaction" method="post" name="myForm">
  			<div><br><br>
			<div>
		<h3>
			<U>Cash Transaction Details:</U>
		</h3>
		
		<div class="leftSection">Type:</div>
		<div class="rightSection">
			<select required class="formInput" ng-model="es.cashTransaction.transactionType" title="~Transaction Type~" ng-options="values for values in es.cashTransactionType">
			</select>
		</div>
		
		<div class="leftSection">Amount:</div>
		<div class="rightSection">
			<input required="required" type="number" min="0" ng-minlength="2" maxlength="7" class="formInput" ng-model="es.cashTransaction.amount" title="~Amount~" /> 
		</div>
		
		<div class="leftSection">Details:</div>
		<div class="rightSection">
			<input required="required" ng-minlength="3" maxlength="97" ng-maxlength="97" class="formInput" type="text" ng-model="es.cashTransaction.details" title="~Details~" size="70" />
		</div>
		
	</div>
			
	<div><br><br></div>
		    		    
		    <div>
		        <span ng-show="!myForm.$valid">
		        	<H5> *** Some input values are missing or invalid. (Marked with red text or '*' sign).</H5>
		        	<input required="required" class="btn btn-info" name="submit" type="button" value="Save CashTransaction" disbaled="true" 
					  title="Some input values are missing or invalid. (Marked with red text or '*' sign)"
					  style="cursor: not-allowed;"
					/>
		        </span>
		        <input required="required" class="btn btn-info" name="submit" type="button" value="Save CashTransaction" ng-show="myForm.$valid" ng-click="es.saveCashTransaction()"/>
		    </div>			    
		    <div><br><br></div>
		</form>
		
	</div>
	
	<div>
		<input required="required" class="btn btn-info" name="submit" type="button" value="Approve ( #{{es.cashTransaction.cashTransactionId}} ) - {{es.cashTransaction.details}}" ng-click="es.approveCashTransaction()"/>
	</div>
	
	<div>
	    <div id="allCashTransactionsGrid" ui-grid="es.cashTransactionsGridOptions" class="grid" ui-grid-resize-columns ui-grid-selection ></div>
	</div>
</body>
</html>