<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lost And Found : Home</title>
</head>
<body>
	<div>
		<h1>Welcome!</h1>
	</div>
	<div>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Losses are painful! We know how it feels when you lose something important, 
		may it then be your folder with bunch of important documents, Passport, Pan Card or anything else. It becomes almost difficult to get back such things then, 
		as there is absolutely no way to reach the person who finds your missing item.		
		<br><br>
			
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The very purpose of this site is to establish this connection between the person who <B>lost and</B> person who <B>found</B> 
		the item. 
		
		<br><br>
		
		Please let us know what you are here for?
				
	</div>
		
	<div><br><br></div>
	<div>
		<span class="home_circle_wrapper"><img ng-click="es.setSelectedMenu(es.menuMap['2LOST'])"
			class="home_circle" src="edge/appCore/modules/layout/images/home_lost.png" /></span>
			
		<span class="home_circle_wrapper"><img ng-click="es.setSelectedMenu(es.menuMap['3FOUND'])"
			 class="home_circle" src="edge/appCore/modules/layout/images/home_found.png" /></span>
			 
		<span class="home_circle_wrapper"><img ng-click="es.setSelectedMenu(es.extendedMenuMap['TAG_CREATION'])"
			 class="home_circle" src="edge/appCore/modules/layout/images/home_secure.png" /></span>
	</div>
	<div><br><hr style="border: 1px dotted #EAEDED"></div>
</body>
</html>