<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Lost And Found : Home</title>
</head>
<body>
	<div class="homeDiv padding5px">
	
		<div>
			<h3>Have you Secured your belongings?
			</h3>
		</div>
		
		<div>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I><B>Never lose anything hence on!</B></I> Secure all your belongings with us! We assure you that in case you lose something, 
			we would try our best to connect you to the one who finds your missing item.		
			All you need to do is to create your own 'Lost and Found Id' and add a visible note to all of your belongings which would say: 
			<br><br>			
			<I>If you find me, please report it on <font color="green">"http://lostandfound.report/found=YOUR_ID"</I></font>
			<br><br>
			This is a <B>free</B> service. 
			<span class="edgeLink" ng-click="es.setSelectedMenu(es.extendedMenuMap['TAG_CREATION'])">Click here to create your 'Lost and Found Id'.</span>
			<br><br>
		</div>
		
		<div>
			<h3>Lost Something already?
			</h3>
		</div>
		
		<div>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<I><B>Do not worry!</B> We are here to help you find your missing item.</I> All you need to do is to submit a 'Lost' report here. 
			As soon as someone submits a <I>matching</I> 'Found' report,we would let you know.<br>
			And guess what, this too is a <B>free</B> service.
			<br><br>		
		</div>
		
		<div>
			<h3>Have you Found Something?
			</h3>
		</div>
		
		<div>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Can we please request you to submit a 'Found' report here? This is absolutely a <B>free</B> service. 
			You would not lose anything but definitely would get <B>'Blessings'</B> from us and the owner of the missing item.
			<br><br>		
		</div>
		
		<div>
			<h3>Help Us Survive?
			</h3>
		</div>
		
		<div>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As you might have noticed, <B>all our services are absolutely free</B>. Though these services are free to you, they are not free to us. 
			We need funds to keep this site live, but to raise funds, we did not want to charge the needy. We wanted to keep it discretionary and not obligatory to pay for the charges. 
			So if you like the service and you think we deserve to survive, please think to <span class="edgeLink" ng-click="es.setSelectedMenu(es.menuMap['5DONATE'])">'Donate Us'. Click here to Donate.</span>
			<br><br>		
		</div>
		
	</div>
</body>
</html>