<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<div class="headerStripLeft">
		<!-- <img src="edge/appCore/modules/layout/images/om.png" class="omImage"/> -->
		<!-- <img src="edge/appCore/modules/layout/images/krishna.jpg" class="krishnaImage"/> -->
		<span><img src="edge/appCore/modules/layout/images/menuTrigger.png" class="menuTrigger" id="menuTriggerId" ng-click="es.hideMenu = ! es.hideMenu"/></span> 
	</div>
	<div class="headerStripMenu">
		<div ng-show="es.loggedInUserId">
			<span class="headerStripMenuItem" ng-click="es.openMyProfile()" title=" Edit profile - {{es.loggedInUserId}} "> 
				<div class="fa-icon">
				    <i class="fa fa-user"></i>
				</div>
			</span> <font color="gray">|</font> 
			<span class="headerStripMenuItem"> 
				<div class="fa-icon">
				    <i class="fa fa-bell"></i>
				    <span class="fa-icon-badge" ng-show="es.unreadNotificationsCount != 0">{{es.unreadNotificationsCount}}</span>
				</div>
			</span><font color="gray">|</font> 
			<span class="headerStripMenuItem" ng-click="es.setSelectedMenuRaw('WALL_CRITERIA');" title="Set Wall Criteria"> 
				<div class="fa-icon">
				    <i class="fa fa-cog"></i>
				</div>
			</span> <font color="gray">|</font>
			<span class="headerStripMenuItem" ng-click="es.openPopup('FORGOT_PWD_POP_UP')" title="Change / Reset Password">
				<div class="fa-icon">
				    <i class="fa fa-key"></i>
				</div>
			</span> <font color="gray">|</font> 
			<span class="headerStripMenuItem"> 
				<div class="fa-icon">
				    <span title="Logout"><a href="logout"> <i class="fa fa-power-off"></i> </a></span>
				</div>
			</span>
			<span>&nbsp;&nbsp;</span>
		</div>
		<div ng-hide="es.loggedInUserId">
			<!-- <span class="headerStripMenuItem"> Forgot Password? <img src="edge/appCore/modules/layout/images/forgot.png" class="icon"/> </span> <font color="gray">|</font> -->
			<span class="headerStripMenuItem" ng-click="es.openPopup('SIGN_IN_POP_UP')"> Log In <!-- <img src="edge/appCore/modules/layout/images/person.png" class="icon"/> --> </span> 
			<!-- <font color="gray"> / </font> -->
			<!-- <span class="headerStripMenuItem" ng-click="es.openPopup('SIGN_UP_POP_UP')"> Sign Up </span>  -->
			<span>&nbsp;&nbsp;</span>
		</div>	
		
	</div>
</body>
</html>