<html>
<body>
<pre>
<div style="background-color: #FFFAF0; color: #556B2F; font: 19px candara;">

	Hi ${signUpEntity.userName},
	
		We congratulate you to become part of App4Parent.in Family.
		
		Your account has been created. Your profile Id is ${signUpEntity.profileId}.
		
		Please use email address and below password to login:		
		
			${signUpEntity.confirmPwd}
			
		<i>(Please change password on very first login!)</i>		
							
		In future you may follow same steps to reset your password.
		
		We hope you would like our service. In case of any concerns please feel free to <a href="mailto:${appEmailAddress}">drop us a mail</a>!
			  
		Good Luck In Your Search!
		
	Thanks and Regards,
	App4Parent Team
	<a href="mailto:${appEmailAddress}">Drop us a mail</a>	  


	-------------------------------------------------------------------------------------------------------
	
	Appendix:
	
	   Steps to reset or change password:
			
			* Click on 'Login' link at the top right corner.
			* Login form will open. Click on 'Reset' button.
			* Reset form will open. Enter your email address you entered while registration. Click on 'Send Code' button.
			* This would send you verification code on the same email address.
			* Copy this code and paste in the Reset Form.
			* Enter desired password, confirm password and then click on 'Submit'.
			* Use this password hence on to login.
			
			
</div>
</pre> 
</body>
</html>